USE [master]
GO
/****** Object:  Database [DB_BANVEMAYBAY]    Script Date: 5/13/2017 11:19:16 AM ******/
CREATE DATABASE [DB_BANVEMAYBAY]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BANVEMAYBAY', FILENAME = N'D:\BANVEMAYBAY.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BANVEMAYBAY_log', FILENAME = N'D:\BANVEMAYBAY_log.ldf' , SIZE = 833024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_BANVEMAYBAY].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_BANVEMAYBAY]
GO
/****** Object:  UserDefinedTableType [dbo].[chitietchuyenbay_list]    Script Date: 5/13/2017 11:19:16 AM ******/
CREATE TYPE [dbo].[chitietchuyenbay_list] AS TABLE(
	[SANBAYTRUNGGIAN] [nvarchar](40) NULL,
	[THOIGIANDUNG] [int] NULL,
	[GHICHU] [nvarchar](100) NULL
)
GO
/****** Object:  Table [dbo].[CHITIETCHUYENBAY]    Script Date: 5/13/2017 11:19:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHITIETCHUYENBAY](
	[MACHUYENBAY] [char](6) NULL,
	[SANBAYTRUNGGIAN] [int] NULL,
	[THOIGIANDUNG] [int] NULL,
	[GHICHU] [nvarchar](100) NULL,
	[MACHITIETCHUYENBAY] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_CHITIETCHUYENBAY] PRIMARY KEY CLUSTERED 
(
	[MACHITIETCHUYENBAY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHUYENBAY]    Script Date: 5/13/2017 11:19:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHUYENBAY](
	[MACHUYENBAY] [char](6) NOT NULL,
	[MATUYENBAY] [int] NULL,
	[NGAYGIO] [smalldatetime] NULL,
	[THOIGIANBAY] [int] NULL,
	[SOLUONGGHEHANG1] [int] NULL,
	[SOLUONGGHEHANG2] [int] NULL,
 CONSTRAINT [PK_CHUYENBAY] PRIMARY KEY CLUSTERED 
(
	[MACHUYENBAY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CT_DOANHTHUTHANG]    Script Date: 5/13/2017 11:19:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CT_DOANHTHUTHANG](
	[MADOANHTHUTHANG] [int] NULL,
	[MACHUYENBAY] [char](6) NULL,
	[SOVE] [int] NULL,
	[TYLE] [decimal](5, 2) NULL,
	[DOANHTHU] [money] NULL,
	[MACTDOANHTHUTHANG] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_CTDOANHTHUTHANG] PRIMARY KEY CLUSTERED 
(
	[MACTDOANHTHUTHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DOANHTHUNAM]    Script Date: 5/13/2017 11:19:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOANHTHUNAM](
	[NAM] [int] NULL,
	[TONGDOANHTHUNAM] [money] NULL,
	[MADOANHTHUNAM] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_DOANHTHUNAM] PRIMARY KEY CLUSTERED 
(
	[MADOANHTHUNAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DOANHTHUTHANG]    Script Date: 5/13/2017 11:19:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOANHTHUTHANG](
	[THANG] [int] NULL,
	[MADOANHTHUNAM] [int] NULL,
	[SOCHUYENBAY] [int] NULL,
	[TYLE] [decimal](5, 2) NULL,
	[TONGDOANHTHUTHANG] [money] NULL,
	[MADOANHTHUTHANG] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_DOANHTHUTHANG] PRIMARY KEY CLUSTERED 
(
	[MADOANHTHUTHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DONGIA]    Script Date: 5/13/2017 11:19:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DONGIA](
	[MATUYENBAY] [int] NULL,
	[DONGIA] [money] NULL,
	[MACHUYENBAY] [char](6) NULL,
	[MADONGIA] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_DONGIA] PRIMARY KEY CLUSTERED 
(
	[MADONGIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HANGVE]    Script Date: 5/13/2017 11:19:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HANGVE](
	[MAHANGVE] [char](6) NOT NULL,
	[TENHANGVE] [nvarchar](40) NULL,
 CONSTRAINT [PK_HANGVE] PRIMARY KEY CLUSTERED 
(
	[MAHANGVE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HANHKHACH]    Script Date: 5/13/2017 11:19:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HANHKHACH](
	[TENHANHKHACH] [nvarchar](40) NULL,
	[CMND] [bigint] NULL,
	[DIENTHOAI] [bigint] NULL,
	[MAHANHKHACH] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_HANHKHACH] PRIMARY KEY CLUSTERED 
(
	[MAHANHKHACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHIEUDATCHO]    Script Date: 5/13/2017 11:19:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEUDATCHO](
	[MACHUYENBAY] [char](6) NULL,
	[MAHANHKHACH] [int] NULL,
	[MAHANGVE] [char](6) NULL,
	[GIATIEN] [money] NULL,
	[NGAYDAT] [smalldatetime] NULL,
	[MAPHIEUDAT] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_PHIEUDAT] PRIMARY KEY CLUSTERED 
(
	[MAPHIEUDAT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SANBAY]    Script Date: 5/13/2017 11:19:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANBAY](
	[TENSANBAY] [nvarchar](40) NULL,
	[MASANBAY] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_SANBAY] PRIMARY KEY CLUSTERED 
(
	[MASANBAY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[THAMSO]    Script Date: 5/13/2017 11:19:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THAMSO](
	[SOLUONGSANBAY] [int] NULL,
	[THOIGIANBAYTOITHIEU] [int] NULL,
	[SOSANBAYTRUNGGIANTOIDA] [int] NULL,
	[THOIGIANDUNGTOITHIEU] [int] NULL,
	[THOIGIANDUNGTOIDA] [int] NULL,
	[TGCHAMNHATDATVE] [int] NULL,
	[TGCHAMNHATHUYDATVE] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TINHTRANGVE]    Script Date: 5/13/2017 11:19:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TINHTRANGVE](
	[MACHUYENBAY] [char](6) NULL,
	[MAHANGVE] [char](6) NULL,
	[SOGHETRONG] [int] NULL,
	[SOGHEDAT] [int] NULL,
	[MATINHTRANGVE] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_TINHTRANGVE] PRIMARY KEY CLUSTERED 
(
	[MATINHTRANGVE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TUYENBAY]    Script Date: 5/13/2017 11:19:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TUYENBAY](
	[SANBAYDI] [int] NULL,
	[SANBAYDEN] [int] NULL,
	[MATUYENBAY] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_TUYENBAY] PRIMARY KEY CLUSTERED 
(
	[MATUYENBAY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VECHUYENBAY]    Script Date: 5/13/2017 11:19:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VECHUYENBAY](
	[MACHUYENBAY] [char](6) NULL,
	[MAHANGVE] [char](6) NULL,
	[MAHANHKHACH] [int] NULL,
	[GIATIEN] [money] NULL,
	[MAVE] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_VE] PRIMARY KEY CLUSTERED 
(
	[MAVE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CHUYENBAY] ([MACHUYENBAY], [MATUYENBAY], [NGAYGIO], [THOIGIANBAY], [SOLUONGGHEHANG1], [SOLUONGGHEHANG2]) VALUES (N'CB0001', 11, CAST(N'2017-07-30 00:00:00' AS SmallDateTime), 60, 50, 70)
SET IDENTITY_INSERT [dbo].[CT_DOANHTHUTHANG] ON 

INSERT [dbo].[CT_DOANHTHUTHANG] ([MADOANHTHUTHANG], [MACHUYENBAY], [SOVE], [TYLE], [DOANHTHU], [MACTDOANHTHUTHANG]) VALUES (16, N'CB0001', 2, CAST(100.00 AS Decimal(5, 2)), 205000.0000, 17)
SET IDENTITY_INSERT [dbo].[CT_DOANHTHUTHANG] OFF
SET IDENTITY_INSERT [dbo].[DOANHTHUNAM] ON 

INSERT [dbo].[DOANHTHUNAM] ([NAM], [TONGDOANHTHUNAM], [MADOANHTHUNAM]) VALUES (2017, 205000.0000, 15)
SET IDENTITY_INSERT [dbo].[DOANHTHUNAM] OFF
SET IDENTITY_INSERT [dbo].[DOANHTHUTHANG] ON 

INSERT [dbo].[DOANHTHUTHANG] ([THANG], [MADOANHTHUNAM], [SOCHUYENBAY], [TYLE], [TONGDOANHTHUTHANG], [MADOANHTHUTHANG]) VALUES (7, 15, 1, CAST(100.00 AS Decimal(5, 2)), 205000.0000, 16)
SET IDENTITY_INSERT [dbo].[DOANHTHUTHANG] OFF
SET IDENTITY_INSERT [dbo].[DONGIA] ON 

INSERT [dbo].[DONGIA] ([MATUYENBAY], [DONGIA], [MACHUYENBAY], [MADONGIA]) VALUES (11, 100000.0000, N'CB0001', 19)
SET IDENTITY_INSERT [dbo].[DONGIA] OFF
INSERT [dbo].[HANGVE] ([MAHANGVE], [TENHANGVE]) VALUES (N'HV0001', N'HẠNG 1')
INSERT [dbo].[HANGVE] ([MAHANGVE], [TENHANGVE]) VALUES (N'HV0002', N'HẠNG 2')
SET IDENTITY_INSERT [dbo].[HANHKHACH] ON 

INSERT [dbo].[HANHKHACH] ([TENHANHKHACH], [CMND], [DIENTHOAI], [MAHANHKHACH]) VALUES (N'VÕ QUỐC HƯNG', 139094, 31093142, 22)
SET IDENTITY_INSERT [dbo].[HANHKHACH] OFF
SET IDENTITY_INSERT [dbo].[PHIEUDATCHO] ON 

INSERT [dbo].[PHIEUDATCHO] ([MACHUYENBAY], [MAHANHKHACH], [MAHANGVE], [GIATIEN], [NGAYDAT], [MAPHIEUDAT]) VALUES (N'CB0001', 22, N'HV0002', 100000.0000, CAST(N'2017-05-13 10:45:00' AS SmallDateTime), 11)
SET IDENTITY_INSERT [dbo].[PHIEUDATCHO] OFF
SET IDENTITY_INSERT [dbo].[SANBAY] ON 

INSERT [dbo].[SANBAY] ([TENSANBAY], [MASANBAY]) VALUES (N'CÔN ĐẢO', 15)
INSERT [dbo].[SANBAY] ([TENSANBAY], [MASANBAY]) VALUES (N'PHÚ CÁT', 16)
SET IDENTITY_INSERT [dbo].[SANBAY] OFF
INSERT [dbo].[THAMSO] ([SOLUONGSANBAY], [THOIGIANBAYTOITHIEU], [SOSANBAYTRUNGGIANTOIDA], [THOIGIANDUNGTOITHIEU], [THOIGIANDUNGTOIDA], [TGCHAMNHATDATVE], [TGCHAMNHATHUYDATVE]) VALUES (10, 30, 2, 10, 20, 1, 1)
SET IDENTITY_INSERT [dbo].[TINHTRANGVE] ON 

INSERT [dbo].[TINHTRANGVE] ([MACHUYENBAY], [MAHANGVE], [SOGHETRONG], [SOGHEDAT], [MATINHTRANGVE]) VALUES (N'CB0001', N'HV0001', 49, 1, 1073)
INSERT [dbo].[TINHTRANGVE] ([MACHUYENBAY], [MAHANGVE], [SOGHETRONG], [SOGHEDAT], [MATINHTRANGVE]) VALUES (N'CB0001', N'HV0002', 69, 1, 1074)
SET IDENTITY_INSERT [dbo].[TINHTRANGVE] OFF
SET IDENTITY_INSERT [dbo].[TUYENBAY] ON 

INSERT [dbo].[TUYENBAY] ([SANBAYDI], [SANBAYDEN], [MATUYENBAY]) VALUES (15, 16, 11)
SET IDENTITY_INSERT [dbo].[TUYENBAY] OFF
SET IDENTITY_INSERT [dbo].[VECHUYENBAY] ON 

INSERT [dbo].[VECHUYENBAY] ([MACHUYENBAY], [MAHANGVE], [MAHANHKHACH], [GIATIEN], [MAVE]) VALUES (N'CB0001', N'HV0001', 22, 105000.0000, 17)
SET IDENTITY_INSERT [dbo].[VECHUYENBAY] OFF
ALTER TABLE [dbo].[CHITIETCHUYENBAY]  WITH CHECK ADD  CONSTRAINT [RK_CHUYENBAY] FOREIGN KEY([MACHUYENBAY])
REFERENCES [dbo].[CHUYENBAY] ([MACHUYENBAY])
GO
ALTER TABLE [dbo].[CHITIETCHUYENBAY] CHECK CONSTRAINT [RK_CHUYENBAY]
GO
ALTER TABLE [dbo].[CHITIETCHUYENBAY]  WITH CHECK ADD  CONSTRAINT [RK_SANBAYTRUNGGIAN] FOREIGN KEY([SANBAYTRUNGGIAN])
REFERENCES [dbo].[SANBAY] ([MASANBAY])
GO
ALTER TABLE [dbo].[CHITIETCHUYENBAY] CHECK CONSTRAINT [RK_SANBAYTRUNGGIAN]
GO
ALTER TABLE [dbo].[CHUYENBAY]  WITH CHECK ADD  CONSTRAINT [RK_TUYENBAY] FOREIGN KEY([MATUYENBAY])
REFERENCES [dbo].[TUYENBAY] ([MATUYENBAY])
GO
ALTER TABLE [dbo].[CHUYENBAY] CHECK CONSTRAINT [RK_TUYENBAY]
GO
ALTER TABLE [dbo].[CT_DOANHTHUTHANG]  WITH CHECK ADD  CONSTRAINT [RK_CHUYENBAY4] FOREIGN KEY([MACHUYENBAY])
REFERENCES [dbo].[CHUYENBAY] ([MACHUYENBAY])
GO
ALTER TABLE [dbo].[CT_DOANHTHUTHANG] CHECK CONSTRAINT [RK_CHUYENBAY4]
GO
ALTER TABLE [dbo].[CT_DOANHTHUTHANG]  WITH CHECK ADD  CONSTRAINT [RK_DOANHTHUTHANG] FOREIGN KEY([MADOANHTHUTHANG])
REFERENCES [dbo].[DOANHTHUTHANG] ([MADOANHTHUTHANG])
GO
ALTER TABLE [dbo].[CT_DOANHTHUTHANG] CHECK CONSTRAINT [RK_DOANHTHUTHANG]
GO
ALTER TABLE [dbo].[DOANHTHUTHANG]  WITH CHECK ADD  CONSTRAINT [RK_DOANHTHUNAM] FOREIGN KEY([MADOANHTHUNAM])
REFERENCES [dbo].[DOANHTHUNAM] ([MADOANHTHUNAM])
GO
ALTER TABLE [dbo].[DOANHTHUTHANG] CHECK CONSTRAINT [RK_DOANHTHUNAM]
GO
ALTER TABLE [dbo].[DONGIA]  WITH CHECK ADD  CONSTRAINT [RK_CHUYENBAY5] FOREIGN KEY([MACHUYENBAY])
REFERENCES [dbo].[CHUYENBAY] ([MACHUYENBAY])
GO
ALTER TABLE [dbo].[DONGIA] CHECK CONSTRAINT [RK_CHUYENBAY5]
GO
ALTER TABLE [dbo].[DONGIA]  WITH CHECK ADD  CONSTRAINT [RK_TUYENBAY1] FOREIGN KEY([MATUYENBAY])
REFERENCES [dbo].[TUYENBAY] ([MATUYENBAY])
GO
ALTER TABLE [dbo].[DONGIA] CHECK CONSTRAINT [RK_TUYENBAY1]
GO
ALTER TABLE [dbo].[PHIEUDATCHO]  WITH CHECK ADD  CONSTRAINT [RK_CHUYENBAY3] FOREIGN KEY([MACHUYENBAY])
REFERENCES [dbo].[CHUYENBAY] ([MACHUYENBAY])
GO
ALTER TABLE [dbo].[PHIEUDATCHO] CHECK CONSTRAINT [RK_CHUYENBAY3]
GO
ALTER TABLE [dbo].[PHIEUDATCHO]  WITH CHECK ADD  CONSTRAINT [RK_HANGVE3] FOREIGN KEY([MAHANGVE])
REFERENCES [dbo].[HANGVE] ([MAHANGVE])
GO
ALTER TABLE [dbo].[PHIEUDATCHO] CHECK CONSTRAINT [RK_HANGVE3]
GO
ALTER TABLE [dbo].[PHIEUDATCHO]  WITH CHECK ADD  CONSTRAINT [RK_HANHKHACH1] FOREIGN KEY([MAHANHKHACH])
REFERENCES [dbo].[HANHKHACH] ([MAHANHKHACH])
GO
ALTER TABLE [dbo].[PHIEUDATCHO] CHECK CONSTRAINT [RK_HANHKHACH1]
GO
ALTER TABLE [dbo].[TINHTRANGVE]  WITH CHECK ADD  CONSTRAINT [RK_CHUYENBAY1] FOREIGN KEY([MACHUYENBAY])
REFERENCES [dbo].[CHUYENBAY] ([MACHUYENBAY])
GO
ALTER TABLE [dbo].[TINHTRANGVE] CHECK CONSTRAINT [RK_CHUYENBAY1]
GO
ALTER TABLE [dbo].[TINHTRANGVE]  WITH CHECK ADD  CONSTRAINT [RK_HANGVE1] FOREIGN KEY([MAHANGVE])
REFERENCES [dbo].[HANGVE] ([MAHANGVE])
GO
ALTER TABLE [dbo].[TINHTRANGVE] CHECK CONSTRAINT [RK_HANGVE1]
GO
ALTER TABLE [dbo].[TUYENBAY]  WITH CHECK ADD  CONSTRAINT [RK_SANBAYDEN] FOREIGN KEY([SANBAYDEN])
REFERENCES [dbo].[SANBAY] ([MASANBAY])
GO
ALTER TABLE [dbo].[TUYENBAY] CHECK CONSTRAINT [RK_SANBAYDEN]
GO
ALTER TABLE [dbo].[TUYENBAY]  WITH CHECK ADD  CONSTRAINT [RK_SANBAYDI] FOREIGN KEY([SANBAYDI])
REFERENCES [dbo].[SANBAY] ([MASANBAY])
GO
ALTER TABLE [dbo].[TUYENBAY] CHECK CONSTRAINT [RK_SANBAYDI]
GO
ALTER TABLE [dbo].[VECHUYENBAY]  WITH CHECK ADD  CONSTRAINT [RK_CHUYENBAY2] FOREIGN KEY([MACHUYENBAY])
REFERENCES [dbo].[CHUYENBAY] ([MACHUYENBAY])
GO
ALTER TABLE [dbo].[VECHUYENBAY] CHECK CONSTRAINT [RK_CHUYENBAY2]
GO
ALTER TABLE [dbo].[VECHUYENBAY]  WITH CHECK ADD  CONSTRAINT [RK_HANGVE2] FOREIGN KEY([MAHANGVE])
REFERENCES [dbo].[HANGVE] ([MAHANGVE])
GO
ALTER TABLE [dbo].[VECHUYENBAY] CHECK CONSTRAINT [RK_HANGVE2]
GO
ALTER TABLE [dbo].[VECHUYENBAY]  WITH CHECK ADD  CONSTRAINT [RK_HANHKHACH] FOREIGN KEY([MAHANHKHACH])
REFERENCES [dbo].[HANHKHACH] ([MAHANHKHACH])
GO
ALTER TABLE [dbo].[VECHUYENBAY] CHECK CONSTRAINT [RK_HANHKHACH]
GO
ALTER TABLE [dbo].[DOANHTHUTHANG]  WITH CHECK ADD CHECK  (([THANG]>=(1) AND [THANG]<=(12)))
GO
/****** Object:  StoredProcedure [dbo].[SP_DANHSACH_CHUYENBAY_THOA_DIEUKIEN]    Script Date: 5/13/2017 11:19:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DANHSACH_CHUYENBAY_THOA_DIEUKIEN]
@V_MASANBAYDI		INT,
@V_MASANBAYDEN		INT,
@V_DATE				SMALLDATETIME
AS
BEGIN
	SELECT CB.MACHUYENBAY,(SELECT TENSANBAY FROM SANBAY WHERE MASANBAY = SANBAYDI) SANBAYDI, (SELECT TENSANBAY FROM SANBAY WHERE MASANBAY = SANBAYDEN) SANBAYDEN, NGAYGIO, THOIGIANBAY, SUM(SOGHETRONG) SOGHETRONG, SUM(SOGHEDAT) SOGHEDAT
	FROM (	SELECT MACHUYENBAY, MATUYENBAY, NGAYGIO, THOIGIANBAY
			FROM CHUYENBAY
			WHERE MATUYENBAY = (	SELECT MATUYENBAY
									FROM TUYENBAY
									WHERE	SANBAYDI = @V_MASANBAYDI
									AND		SANBAYDEN = @V_MASANBAYDEN)) CB, (	SELECT *
																			FROM TUYENBAY
																			WHERE	SANBAYDI = @V_MASANBAYDI
																			AND		SANBAYDEN = @V_MASANBAYDEN) TB, TINHTRANGVE T
	WHERE	CB.MACHUYENBAY = T.MACHUYENBAY
	AND		DAY(CB.NGAYGIO) = DAY(@V_DATE)
	AND		MONTH(CB.NGAYGIO) = MONTH(@V_DATE)
	AND		YEAR(CB.NGAYGIO) = YEAR(@V_DATE)
	GROUP BY CB.MACHUYENBAY, SANBAYDI, SANBAYDEN, NGAYGIO, THOIGIANBAY
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DANHSACH_TATCA_CHUYENBAY]    Script Date: 5/13/2017 11:19:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DANHSACH_TATCA_CHUYENBAY]
AS
BEGIN 
	SELECT C.MACHUYENBAY, (SELECT TENSANBAY FROM SANBAY WHERE MASANBAY = SANBAYDI) SANBAYDI, (SELECT TENSANBAY FROM SANBAY WHERE MASANBAY = SANBAYDEN) SANBAYDEN, NGAYGIO, THOIGIANBAY, SUM(SOGHETRONG) SOGHETRONG, SUM(SOGHEDAT) SOGHEDAT
	FROM CHUYENBAY C, TINHTRANGVE T, TUYENBAY TB
	WHERE	C.MATUYENBAY = TB.MATUYENBAY
	AND		C.MACHUYENBAY = T.MACHUYENBAY
	GROUP BY C.MACHUYENBAY, C.NGAYGIO, C.THOIGIANBAY, TB.SANBAYDI, TB.SANBAYDEN
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE_LICHCHUYENBAY]    Script Date: 5/13/2017 11:19:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DELETE_LICHCHUYENBAY]
@V_MACHUYENBAY CHAR(6)
AS
BEGIN
	IF EXISTS(SELECT * FROM CHUYENBAY WHERE MACHUYENBAY = @V_MACHUYENBAY)
	BEGIN
		DECLARE @V_MADOANHTHUNAM INT, @V_MACTDOANHTHUTHANG INT, @V_MADOANHTHUTHANG INT
		DECLARE CURSOR1 CURSOR LOCAL FOR SELECT MACTDOANHTHUTHANG, MADOANHTHUTHANG FROM CT_DOANHTHUTHANG WHERE MACHUYENBAY = @V_MACHUYENBAY
		OPEN CURSOR1
		FETCH NEXT FROM CURSOR1 INTO @V_MACTDOANHTHUTHANG, @V_MADOANHTHUTHANG
		SELECT @V_MADOANHTHUNAM = MADOANHTHUNAM FROM DOANHTHUTHANG WHERE MADOANHTHUTHANG = @V_MADOANHTHUTHANG
		WHILE(@@FETCH_STATUS = 0)
		BEGIN
			DELETE FROM CT_DOANHTHUTHANG  WHERE MACTDOANHTHUTHANG = @V_MACTDOANHTHUTHANG
			DELETE FROM DOANHTHUTHANG WHERE MADOANHTHUTHANG = @V_MADOANHTHUTHANG
			FETCH NEXT FROM CURSOR1 INTO @V_MACTDOANHTHUTHANG, @V_MADOANHTHUTHANG
		END
		
		CLOSE CURSOR1
		IF NOT EXISTS(SELECT * FROM DOANHTHUTHANG WHERE MADOANHTHUNAM = @V_MADOANHTHUNAM)
		BEGIN
			DELETE FROM DOANHTHUNAM WHERE MADOANHTHUNAM = @V_MADOANHTHUNAM
		END
		
		DELETE FROM TINHTRANGVE WHERE MACHUYENBAY = @V_MACHUYENBAY
		DELETE FROM VECHUYENBAY WHERE MACHUYENBAY = @V_MACHUYENBAY
		DELETE FROM PHIEUDATCHO WHERE MACHUYENBAY = @V_MACHUYENBAY
		DELETE FROM DONGIA WHERE MACHUYENBAY = @V_MACHUYENBAY
		DELETE FROM CHITIETCHUYENBAY WHERE MACHUYENBAY = @V_MACHUYENBAY
		DELETE FROM CHUYENBAY WHERE MACHUYENBAY = @V_MACHUYENBAY
	END
END


GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE_PHIEUDATCHO_BASED_ON_CMND]    Script Date: 5/13/2017 11:19:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DELETE_PHIEUDATCHO_BASED_ON_CMND]
@V_CMND BIGINT
AS
BEGIN
	DELETE FROM PHIEUDATCHO WHERE MAHANHKHACH = (SELECT MAHANHKHACH FROM HANHKHACH WHERE CMND = @V_CMND)
END

GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE_PHIEUDATCHO_BASED_ON_MAPHIEUDAT]    Script Date: 5/13/2017 11:19:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DELETE_PHIEUDATCHO_BASED_ON_MAPHIEUDAT]
@V_MAPHIEUDAT INT
AS
BEGIN
	DELETE FROM PHIEUDATCHO WHERE MAPHIEUDAT = @V_MAPHIEUDAT
END

GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE_VECHUYENBAY_BASED_ON_CMND]    Script Date: 5/13/2017 11:19:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_DELETE_VECHUYENBAY_BASED_ON_CMND]
@V_CMND BIGINT
AS
BEGIN
	DELETE FROM VECHUYENBAY WHERE MAHANHKHACH = (SELECT MAHANHKHACH FROM HANHKHACH WHERE CMND = @V_CMND)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE_VECHUYENBAY_BASED_ON_MAVE]    Script Date: 5/13/2017 11:19:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DELETE_VECHUYENBAY_BASED_ON_MAVE]
@V_MAVE INT
AS
BEGIN
	DELETE FROM VECHUYENBAY WHERE MAVE = @V_MAVE
END

GO
/****** Object:  StoredProcedure [dbo].[SP_DOANHTHU_BANVE_CHUYENBAY]    Script Date: 5/13/2017 11:19:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DOANHTHU_BANVE_CHUYENBAY]
@V_THANG INT,
@V_NAM	 INT
AS
BEGIN
	SELECT MACHUYENBAY, SOVE, DOANHTHU, TYLE
	FROM CT_DOANHTHUTHANG
	WHERE MADOANHTHUTHANG = (	SELECT MADOANHTHUTHANG
								FROM DOANHTHUTHANG
								WHERE THANG = 7
								AND		MADOANHTHUNAM = (	SELECT MADOANHTHUNAM
															FROM DOANHTHUNAM
															WHERE NAM = 2017))

END
GO
/****** Object:  StoredProcedure [dbo].[SP_DOANHTHUNAM]    Script Date: 5/13/2017 11:19:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DOANHTHUNAM]
@V_NAM INT
AS 
BEGIN
	SELECT THANG, SOCHUYENBAY, TONGDOANHTHUTHANG, TYLE 
	FROM DOANHTHUTHANG
	WHERE MADOANHTHUNAM = (	SELECT MADOANHTHUNAM
							FROM DOANHTHUNAM
							WHERE NAM = 2017)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_LICHCHUYENBAY]    Script Date: 5/13/2017 11:19:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_INSERT_LICHCHUYENBAY]
@V_MACHUYENBAY	CHAR(6),
@V_DONGIA		MONEY,
@V_SANBAYDI		NVARCHAR(40),
@V_SANBAYDEN	NVARCHAR(40),
@V_NGAYGIO		SMALLDATETIME,
@V_THOIGIANBAY	INT,
@V_SL1			INT,
@V_SL2			INT,
@V_CHITIETCHUYENBAY AS dbo.chitietchuyenbay_list READONLY
AS
BEGIN
	IF NOT EXISTS(SELECT * FROM SANBAY WHERE TENSANBAY = @V_SANBAYDI)
	BEGIN
		INSERT INTO SANBAY VALUES(@V_SANBAYDI)
	END

	IF NOT EXISTS(SELECT * FROM SANBAY WHERE TENSANBAY = @V_SANBAYDEN)
	BEGIN
		INSERT INTO SANBAY VALUES(@V_SANBAYDEN)
	END

	DECLARE @MASANBAYDI INT, @MASANBAYDEN INT
	SELECT @MASANBAYDI = MASANBAY FROM SANBAY WHERE TENSANBAY = @V_SANBAYDI
	SELECT @MASANBAYDEN = MASANBAY FROM SANBAY WHERE TENSANBAY = @V_SANBAYDEN
	IF NOT EXISTS(	SELECT *
					FROM TUYENBAY
					WHERE	SANBAYDI = @MASANBAYDI
					AND		SANBAYDEN = @MASANBAYDEN)
	BEGIN
		INSERT INTO TUYENBAY VALUES(@MASANBAYDI, @MASANBAYDEN)
	END

	DECLARE @MATUYENBAY INT
	SELECT @MATUYENBAY = MATUYENBAY 
	FROM TUYENBAY 
	WHERE SANBAYDI = @MASANBAYDI AND SANBAYDEN = @MASANBAYDEN
	IF NOT EXISTS(SELECT * FROM CHUYENBAY WHERE MACHUYENBAY = @V_MACHUYENBAY)
	BEGIN
		INSERT INTO CHUYENBAY VALUES(@V_MACHUYENBAY, @MATUYENBAY, @V_NGAYGIO, @V_THOIGIANBAY, @V_SL1, @V_SL2)
	END 
	ELSE
	BEGIN
		ROLLBACK TRANSACTION
		PRINT(N'MÃ CHUYẾN BAY ĐÃ TỒN TẠI')
		RETURN
	END

	DECLARE @V_SANBAYTRUNGGIAN NVARCHAR(40), @V_MASANBAYTRUNGGIAN INT, @V_THOIGIANDUNG INT, @V_GHICHU NVARCHAR(100)
	DECLARE MYCURSOR CURSOR FOR SELECT * FROM @V_CHITIETCHUYENBAY
	OPEN MYCURSOR
	FETCH NEXT FROM MYCURSOR INTO @V_SANBAYTRUNGGIAN, @V_THOIGIANDUNG, @V_GHICHU
	WHILE(@@FETCH_STATUS = 0)
	BEGIN	
		SELECT @V_MASANBAYTRUNGGIAN = MASANBAY FROM SANBAY WHERE TENSANBAY = @V_SANBAYTRUNGGIAN
		INSERT INTO CHITIETCHUYENBAY VALUES(@V_MACHUYENBAY, @V_MASANBAYTRUNGGIAN, @V_THOIGIANDUNG, @V_GHICHU)
		FETCH NEXT FROM MYCURSOR INTO @V_SANBAYTRUNGGIAN, @V_THOIGIANDUNG, @V_GHICHU
	END
	CLOSE MYCURSOR

	INSERT INTO DONGIA VALUES(@MATUYENBAY, @V_DONGIA, @V_MACHUYENBAY)

	INSERT INTO TINHTRANGVE VALUES(@V_MACHUYENBAY, 'HV0001', 0, 0)
	INSERT INTO TINHTRANGVE VALUES(@V_MACHUYENBAY, 'HV0002', 0, 0)
	
	IF NOT EXISTS(SELECT * FROM DOANHTHUNAM WHERE NAM = YEAR(@V_NGAYGIO))
	BEGIN
		INSERT INTO DOANHTHUNAM VALUES(YEAR(@V_NGAYGIO), 0)
	END

	DECLARE @V_MADOANHTHUNAM INT
	SELECT @V_MADOANHTHUNAM = MADOANHTHUNAM FROM DOANHTHUNAM WHERE NAM = YEAR(@V_NGAYGIO)
	INSERT INTO DOANHTHUTHANG VALUES(MONTH(@V_NGAYGIO), @V_MADOANHTHUNAM, 0, 0, 0)
	
	DECLARE @V_MADOANHTHUTHANG INT
	SELECT @V_MADOANHTHUTHANG = MADOANHTHUTHANG FROM DOANHTHUTHANG WHERE MADOANHTHUNAM = @V_MADOANHTHUNAM AND THANG = MONTH(@V_NGAYGIO)
	INSERT INTO CT_DOANHTHUTHANG VALUES(@V_MADOANHTHUTHANG, @V_MACHUYENBAY, 0, 0, 0)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_PHIEUDATCHO]    Script Date: 5/13/2017 11:19:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_INSERT_PHIEUDATCHO]
@V_MACHUYENBAY	CHAR(6),
@V_HANHKHACH	NVARCHAR(40),
@V_CMND			BIGINT,
@V_DIENTHOAI	BIGINT,
@V_HANGVE		INT
AS
BEGIN
	IF NOT EXISTS(SELECT * FROM CHUYENBAY WHERE MACHUYENBAY = @V_MACHUYENBAY)
	BEGIN
		PRINT(N'KHÔNG TỒN TẠI CHUYẾN BAY YÊU CẦU')
	END

	IF NOT EXISTS(SELECT * FROM HANHKHACH WHERE CMND = @V_CMND)
	BEGIN
		INSERT INTO HANHKHACH VALUES(@V_HANHKHACH, @V_CMND, @V_DIENTHOAI)
	END	
	DECLARE @V_MAHANHKHACH INT
	SELECT @V_MAHANHKHACH = MAHANHKHACH FROM HANHKHACH WHERE CMND = @V_CMND
	INSERT INTO PHIEUDATCHO VALUES(@V_MACHUYENBAY, @V_MAHANHKHACH, 'HV000' + CAST(@V_HANGVE AS VARCHAR), 0,	CONVERT(SMALLDATETIME, GETDATE())) 
END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_VECHUYENBAY]    Script Date: 5/13/2017 11:19:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_INSERT_VECHUYENBAY]
@V_MACHUYENBAY	CHAR(6),
@V_HANHKHACH	NVARCHAR(40),
@V_CMND			BIGINT,
@V_DIENTHOAI	BIGINT,
@V_HANGVE		INT
AS
BEGIN
	IF NOT EXISTS(SELECT * FROM CHUYENBAY WHERE MACHUYENBAY = @V_MACHUYENBAY)
	BEGIN
		PRINT(N'KHÔNG TỒN TẠI CHUYẾN BAY YÊU CẦU')
	END

	IF NOT EXISTS(SELECT * FROM HANHKHACH WHERE CMND = @V_CMND)
	BEGIN
		INSERT INTO HANHKHACH VALUES(@V_HANHKHACH, @V_CMND, @V_DIENTHOAI)
	END	
	DECLARE @V_MAHANHKHACH INT
	SELECT @V_MAHANHKHACH = MAHANHKHACH FROM HANHKHACH WHERE CMND = @V_CMND
	INSERT INTO VECHUYENBAY VALUES(@V_MACHUYENBAY, 'HV000' + CAST(@V_HANGVE AS VARCHAR), @V_MAHANHKHACH, 0) 
END
GO
USE [master]
GO
